.top-navigation-wrapper{ background-color: #000000; }
.top-navigation-wrapper a{ color: #bac6d1; }
.top-navigation-wrapper a:hover{ color: #bac6d1; }
div.gdl-navigation-gimmick{ background-color: #ba1b0f; }
div.gdl-navigation-gimmick{ border-top-color: #ba1b0f; }
div.gdl-navigation-gimmick{ border-bottom-color: #000000; }
.navigation-wrapper{ background-color: #f4f4f4; }